/*
		Jessica J. Hernandez
        ID: 0004631401
        April 19, 2015 - Week 2
        Web Standards Project | 201504-01
        Professor: Brandon Brown
        Full Sail University
 */


/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
    background-image: url("../images/villa.jpg");
}

.container-fluid {
    width: 80%;
    background: red;
    position: relative;
    margin-top: 10%;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#topBar, footer, nav {
    width: 100%;
    padding: 10px 20px;
}

#topBar, footer {
    background-color: #FCFCFC;
}

#topBar {
    overflow: auto;
    border-bottom: 1px solid #BFBFBF;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear {
    clear: both;
}

#topBar > a {
    margin: 4.5px 0 0 10px;
}




/* _____________________________________ */
/*              NAVIGATION               */
/* _____________________________________ */

nav {
    background-color: #F2F2F2;
    font-weight: bold;
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #fff;
    vertical-align: middle;
    line-height: 32px;
    overflow: auto;
}

nav + ul {
	list-style-type: none;
	}

nav ul {
    margin-bottom: 0;
    padding-left: 0;
}
	
nav li {
	display: inline-block;
    margin-right: 2%;
	}

.navbar-form {
    margin: 0;
    padding: 0;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */






/* _____________________________________ */
/*                 LINKS                 */
/* _____________________________________ */





/* _____________________________________ */
/*               BUTTONS                 */
/* _____________________________________ */




/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */





/* _____________________________________ */
/*                TABLE                  */
/* _____________________________________ */




/* _____________________________________ */
/*             MEDIA QUERIES             */
/* _____________________________________ */

/* Smartphones (portrait) Mainly iPhone 4 - 6 */
@media only screen
and (max-device-width: 414px)
and (orientation: portrait),
(max-width: 414px) {

    /* ------------- IMAGES --------------- */



}


/* Smartphones (portrait & landscape) Mainly iPhone 4 - 6 */
@media only screen
and (max-device-width: 767px),
(max-width : 767px) {

    /* ----------- MAIN STYLES ------------ */


    /* ------------- IMAGES --------------- */



    /* ------------ NAVIGATION ------------ */



    /* -------------- TABLE --------------- */



}



/* Smartphones (landscape) Mainly iPhone 4 - 6 */
@media only screen
and (min-device-width: 415px)
and (max-device-width: 767px)
and (orientation: landscape),
(min-width : 415px)
and (max-width : 767px) {

    /* ------------- IMAGES --------------- */



}



/* Tablets (portrait) Mainly iPad */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 899px)
and (orientation: portrait),
(min-width : 768px)
and (max-width : 899px) {

    /* ----------- MAIN STYLES ------------ */



    /* --------- HEADINGS & TEXT ---------- */



    /* ------------ NAVIGATION ------------ */



    /* ------------- IMAGES --------------- */



}



/* Desktops and laptops */
@media only screen
and (min-width : 900px) {

    /* ----------- MAIN STYLES ------------ */



    /* --------- HEADINGS & TEXT ---------- */



    /* ------------ NAVIGATION ------------ */



}