/*
		Jessica J. Hernandez
        ID: 0004631401
        April 26, 2015 - Week 3
        Web Standards Project | 201504-01
        Professor: Brandon Brown
        Full Sail University
 */


/* _____________________________________ */
/*              MAIN STYLES              */
/* _____________________________________ */

body {
    background-image: url("../images/villa.jpg");
    position: relative;
    background-position: -40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Cabin', sans-serif;
}

.container-fluid {
    width: 80%;
    position: relative;
    margin-top: 131px;
    z-index: 1;
}

#mainContent {
    margin: 2% auto;
    padding: 0 2%;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#topBar, footer, nav {
    width: 100%;
    padding: 10px 20px;
}

#topBar, footer {
    background-color: #FCFCFC;
}

#topBar {
    overflow: auto;
    border-bottom: 1px solid #BFBFBF;
}

footer {
    padding: 2% 7% 1.5%;
    border-top: 1px solid #BFBFBF;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear {
    clear: both;
}

#topBar > a {
    margin: 0.4% 0 0 10px;
}

hr {
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #fff;
}

#logo, #buttons {
    width: 50%;
    float: left;
}

#buttons {
    text-align: right;
    padding: 4px 0;
}

#navLinks {
    float: left;
    width: 60%;
}

#searchBox {
    float: left;
    width: 40%;
    position: relative;
}



/* _____________________________________ */
/*              NAVIGATION               */
/* _____________________________________ */

nav {
    background-color: #F2F2F2;
    font-weight: bold;
    border-bottom: 1px solid #BFBFBF;
    border-top: 1px solid #fff;
    vertical-align: middle;
    line-height: 32px;
    overflow: auto;
}

nav + ul {
	list-style-type: none;
	}

nav ul {
    margin-bottom: 0;
    padding-left: 0;
}
	
nav li {
	display: inline-block;
    margin-right: 2%;
	}

nav li:last-child {
    margin-right: 0;
}

#locationDetails button {
    margin: 2%;
}



/* _____________________________________ */
/*           HEADINGS & TEXT             */
/* _____________________________________ */

#copyText {
    text-align: center;
    margin-bottom: 0;
}

.blurb, .results, #heading, .loginHelp, .loginForm, #signUp, #locationDetails, #locationPhotos {
    background-color: hsla(360, 100%, 100%, 0.77);
    border-radius: 5px;
    padding: 3% 2%;
    width: 100%;
    margin-bottom: 3%;
}

#heading {
    background-color: hsla(53, 100%, 87%, 0.8);
    font-weight: 700;
    box-shadow: 5px 5px 30px #4d4d4d;
}

.results, .loginHelp, .loginForm, #signUp, #locationDetails, #locationPhotos {
    background-color: hsla(360, 100%, 100%, 0.9);
}

.blurb, .results, #heading, .loginHelp {
    overflow: auto;
}

.blurb small {
    text-align: right;
    font-weight: bold;
    float: right;
}

.blurb p {
    margin-top: 5%;
    text-align: center;
}

.passportItem > h2 {
    font-size: 1.4em;
}

.passportItem {
    background-color: hsla(360, 100%, 100%, 0.77);
    border-radius: 5px;
    padding: 5% 5%;
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
}

tr[class="active"] {
    background-color: #FFF294 !important;
    color: #fb6450;
}

footer .table>tbody>tr.active>th {
    background-color: #fff7bd;
    border-bottom-color: #C9BF5C;
    border-top-color: #C9BF5C;
}

footer .table>tbody>tr:nth-child(2)>td {
    border-top-color: #C9BF5C;
}



/* _____________________________________ */
/*                IMAGES                 */
/* _____________________________________ */

img {
	max-width: 100%;
}

.footLogo {
    width: 120px;
    margin-top: -3px;
}

.jumbotron {
    background-color: hsla(53, 100%, 87%, 0.8);
    padding-bottom: 3%;
    padding-top: 3%;
    font-weight: bold;
}

.blurb > img {
    width: 70%;
    border: 1px solid #BFBFBF;
    box-shadow: 2px 2px 4px #666;
}

#locationPhotos img {
    margin-bottom: 5%;
    width: 99%;
}



/* _____________________________________ */
/*                 FORMS                 */
/* _____________________________________ */

.navbar-form {
    display: inline-block;
    margin: 0;
    padding: 0;
    float: right;
}

#mainSearch {
    float: right;
}

.mainSearchBtn, .signUpBtn {
    background: #b8edab;
    color: #405C99;
}

.mainSearchBtn:hover, .signUpBtn:hover {
    background: #9ce689;
    color: #fff;
    text-shadow: 0 1px #405C99;
}

form input[type], button[type], button[type]:hover {
    border-color: #405C99;
}



/* _____________________________________ */
/*                 LINKS                 */
/* _____________________________________ */

a {
    color: #6a99ff;
}

a:hover {
    color: #405C99;
}

.activeNav {
    color: #C9BF5C;
    text-decoration: underline;
}



/* _____________________________________ */
/*             MEDIA QUERIES             */
/* _____________________________________ */

/* Tablets (portrait) Mainly iPad */
@media only screen
	and (min-device-width: 768px)
	and (max-device-width: 899px)
	and (orientation: portrait),
	(min-width : 768px)
	and (max-width : 899px) {
	
	

	}
	
	
	
/* Smartphones (portrait & landscape) Mainly iPhone 4 - 6 */
@media only screen
	and (max-device-width: 767px),
	(max-width : 767px) {
	
        header {
            position: relative;
        }

        .container-fluid {
            width: 97%;
            margin-top: 2%;
        }
        
        #topBar, footer, nav {
            padding: 3% 1%;
        }
        #mainLogo {
            margin-bottom: 10px;
        }
        
        #logo, #buttons, #navLinks, #searchBox {
            width: 100%;
            text-align: center;
        }
        
        #searchBox {
            margin-top: 10px;
        }
        
        #mainSearch {
            float: none;
            margin: 0;
            vertical-align: top !important;
        }
        
        .mainSearchBox {
            width: 88%;
            display: inline-block;
        }
	
	}
	
	
	
/* Smartphones (portrait or landscape) Mainly iPhone 4 - 6 */
@media only screen
	and (max-device-width: 485px),
	(max-width : 485px) {
	   
        nav {
            font-size: 92%;
        }
        
	}
	
	
	
/* Smartphones (portrait) Mainly iPhone 4 - 6 */
@media only screen 
	and (max-device-width: 414px)
	and (orientation: portrait),
	(max-width: 414px) {
	
	

	}